<div class="flex justify-center items-center h-screen bg-gray-200">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="bg-white p-10 rounded shadow-md">
    <h1 class="text-2xl font-bold mb-5">Login</h1>
    <mat-form-field class="w-full">
      <input matInput formControlName="username" placeholder="Username" />
      <mat-error *ngIf="loginForm.get('username')!.invalid && loginForm.get('username')!.touched">
        Username is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <input matInput formControlName="password" type="password" placeholder="Password" />
      <mat-error *ngIf="loginForm.get('password')!.invalid && loginForm.get('password')!.touched">
        Password is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" class="w-full mt-5" [disabled]="loginForm.invalid">Login</button>
  </form>
</div>
