.drawer-sidenav-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.drawer-sidenav {
    padding: 20px;
}

.mat-drawer {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.active {
    background-color: red;
    color: white;
}